{% extends "pacemaker/base.html" %}

{% block title %}Create Super User{% endblock %}

{% block content %}
<h2>Create Super User</h2>

등록된 superuser가 없을 경우에만 superuser 생성을 지원합니다. 혹은 쉘에 직접 접속하셔서 createsuperuser를 수행하셔도 됩니다.
<pre>
    python manage.py createsuperuser --settings={{ DJANGO_SETTINGS_MODULE }}
</pre>

<h3>Form</h3>
{% if first_superuser %}
    이미 등록된 superuser <strong>{{ first_superuser }}</strong>가 있습니다. <a href="{% url "admin:login" %}">Admin Login</a> 하실 수 있습니다.
{% else %}
    <form action="" method="post">
        {% csrf_token %}
        <p>
            <table class="pure-table">
                {{ form.as_table }}
            </table>
        </p>
        <input type="submit" value="superuser 생성하기" class="pure-button pure-button-primary" />
    </form>
{% endif %}

{% endblock %}

